@using Aion.Components.Connections
@using Aion.Components.Querying
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <title>Aion Desktop</title>
    <Microsoft.AspNetCore.Components.Web.HeadOutlet />
</head>
<body>
<Routes />

<script src="_framework/blazor.web.js"></script>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>

</body>
</html>

@code {

    [Inject]
    protected NavigationManager Navigation { get; set; } 

    [Inject]
    protected ConnectionState ConnectionState { get; set; }

    [Inject] protected QueryState QueryState { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await ConnectionState.InitializeAsync();
        await QueryState.InitializeAsync();
        await base.OnInitializedAsync();
    }

}